#course-name, #resource-title, #resource-content {
  margin: 0.5rem 0;
}

.add-course-btn, .add-resource-btn {
  margin: 0 0.5rem;
}

#courses-list {
  padding: 0.3rem;
  border-radius: 5px;
}

.course {
  margin: 0;
  padding: 0.3rem;
  border-bottom: 1px solid white;
  color: white;
}

.course a {
  color: #ffffff;
  text-decoration: none;
  flex: 1;
  mix-blend-mode: difference;
}

.course:first-of-type {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.course:last-of-type {
  border-bottom: 0;
  margin-bottom: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.add-form {
  padding: 1rem;
  width: 100%;
  background-color: #184461;
  color: white;
  border-radius: 10px;
}

.add-form>textarea {
  resize: none;
}

#back-to-courses {
  flex-basis: 80%;
  text-align: center;
}

.resource{
  margin: 0.5rem 0;
}

.resource-link {
  flex-basis: 50%;
  text-align: center;
}